@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.article-card {
  position: relative;
  width: 291px;
  height: 630px;
  margin-top: 60px;


  .article-card-image {
    position: relative;
    margin-bottom: 15px;

    img {
      width: 291px;
      height: 291px;
      border-radius: 5px;
      object-fit: cover;
    }

    .article-card-image-article {
      position: absolute;
      top: 10px;
      right: 9px;
      border: 1px solid;
      border-radius: 5px;
      background: #FFF;
      padding: 10px;
      color: #709FDC;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
    }
  }

  .article-card-title {
    color: $blue-text-color;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .article-card-description {
    @include text-montserrat-14;
  }

  a {
    display: block;
    color: $blue-text-color;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
