<div class="privacy-policy">
  <div class="container">
    <div class="privacy-container">
      Пользовательское соглашение на сайте (или в приложении) регулирует правовые взаимоотношения между владельцем
      веб-ресурса, пользователями и третьими лицами. Оно очерчивает круг ответственности для поставщика товаров и услуг, а
      потому является юридическим документом. Содержание пользовательского соглашения должно соответствовать действующим
      нормам материального права.
      <br>
      <br>
      <br>
      Посещая наши Веб-сайты и/или используя наши Продукты, вы соглашаетесь с условиями данной Политики
      конфиденциальности. Если вы не согласны с условиями данной Политики конфиденциальности, пожалуйста, не посещайте
      и/или не используйте наши Веб-сайты и Продукты.
      <br>
      <br>
      <br>

      Какую информацию мы собираем о вас
      Личная информация – это информация, которая идентифицирует физическое лицо или относится к идентифицируемому
      физическому лицу. Мы собираем личную и другие виды информации, а) когда вы предоставляете ее нам, б) когда вы
      посещаете наши Веб-сайты, в) когда третьи лица предоставляют ее нам.
      <br>
      <br>
      <br>

      Информация, которую мы собираем автоматически
      Мы автоматически собираем информацию, когда вы перемещаетесь по нашим Веб-сайтам или просматриваете нашу рекламу.
      Собранная информация включает в себя уникальный идентификатор устройства, IP адрес или MAC адрес, данные о вашем
      местоположении, трафике, действиях на Веб-сайтах и другую аналогичную информацию. Мы также используем файлы cookie и
      другие технологии отслеживания.
      <br>
      <br>
      <br>

      <div class="privacy" id="privacy">
        <b>Условия пользовательского соглашения</b>
        <br>
        Вы настоящим подтверждаете, что прочитали, поняли и полностью согласны соблюдать настоящее Соглашение и Политику
        конфиденциальности АйтиШторм.
        Вы настоящим подтверждаете, что с момента регистрации на Сайте и в течение времени пользования Услугами АйтиШторм,
        а
        также персонализированными сервисами Сайта, Вы являетесь Пользователем АйтиШторм вплоть до Вашего личного
        обращения
        в Службу клиентской поддержки Айтишторм об отказе от любых взаимоотношений с АйтиШторм.
      </div>
      <br>
      <br>
      <br>

      <div class="policy" id="policy">
        <b>Согласие на обработку персональных данных</b>
        <br>
        Мы автоматически собираем информацию, когда вы перемещаетесь по нашим Веб-сайтам или просматриваете нашу рекламу.
        Собранная информация включает в себя уникальный идентификатор устройства, IP адрес или MAC адрес, данные о вашем
        местоположении, трафике, действиях на Веб-сайтах и другую аналогичную информацию. Мы также используем файлы cookie
        и
        другие технологии отслеживания.

      </div>
      <br>
      <br>
      <br>

      <b>ЧАСТЬ I. О взаимоотношениях АйтиШторм с Пользователем</b>

      <br>
      <b>1.</b>  Общие положения

      <b>1.1</b> АйтиШторм предлагает Вам свои Услуги и сервисы Сайта на условиях, изложенных в настоящем Соглашении.
      <br>

      <b>1.2</b>Использование сервисов Сайта, а также все отношения между Вами и АйтиШтормом, связанные с использованием
      сервисов Сайта, регулируются настоящим Соглашением.

      <br>
      <b>1.3</b> Используя любой из сервисов Сайта или воспользовавшись любой его функциональной возможностью, Вы выражаете свое
      безоговорочное согласие со всеми условиями настоящего Соглашения и всеми иными условиями, изложенными на страницах
      Сайта, обязуетесь соблюдать их, а в случае несогласия с любым из условий немедленно прекратить использование
      сервисов и покинуть Сайт.
      <br>

      <b>1.4</b> Вы проинформированы, что настоящее Соглашение распространяется на все существующие на данный момент сервисы
      Сайта, а также на любое их развитие и/или добавление новых сервисов.
      <br>

      <b>1.5</b> Вы признаёте и соглашаетесь, что ничто в Соглашении не может пониматься как установление между Вами и
      АйтиШтормом агентских отношений, отношений товарищества (совместной деятельности), отношений личного найма, либо
      каких-то иных отношений, прямо не предусмотренных настоящим Соглашением.
      <br>

      <b>1.6</b> Настоящее Соглашение регулируются гражданским законодательством Российской Федерации, в том числе Законом Р Ф
      «О защите прав потребителей» от 07.02.1992 №2300−1, и подзаконными нормативными актами.
      <br>

      <b>1.7</b> Вы соглашаетесь на то, что все возможные споры по поводу настоящего Соглашения и отношений между Вами и
      АйтиШтормом будут разрешаться по нормам российского права.
      <br>
      <b>1.8</b> Вы соглашаетесь, что признание судом какого-либо положения Соглашения недействительным или не подлежащим
      принудительному исполнению не влечет недействительности или неисполнимости иных положений Соглашения.

      <br>
      <b>1.9</b> Бездействие со стороны АйтиШторма в случае нарушения Вами положений Соглашения не лишает АйтиШторм права
      предпринять соответствующие действия в защиту своих интересов позднее, а также не означает отказа АйтиШторма от
      своих прав в случае совершения в последующем подобных либо сходных нарушений.
      <br>
      <b>1.10</b> АйтиШторм оставляет за собой право изменять настоящее Соглашение без какого-либо специального уведомления.
      Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией
      Соглашения.
      <br>
      <b>1.11</b> Вы подтверждаете своё согласие с положениями настоящего Соглашения нажатием кнопки «Принять Пользовательское
      Соглашение» при Регистрации, в том числе на последнем шаге оформления Заказа на Сайте.
      <br>
      <b>1.12</b> АйтиШторм рекомендует лицам, не достигшим 18 лет, воздержаться от доступа к персонализированным сервисам
      Сайта. АйтиШторм не собирает намеренно сведений, поступивших от несовершеннолетних, включая персональные данные
      последних, не использует и не ориентирует содержание Сайта на несовершеннолетних. Ответственность за действия
      несовершеннолетних, включая приобретение ими Товаров из каталога АйтиШторма на Сайте, лежит на законных
      представителях несовершеннолетних.
    </div>
  </div>

</div>
