
@import "variables";

.auth-form {

  .auth-title {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: $blue-text-color;
    margin-bottom: 35px;

  }

  .auth-inputs {
    margin-bottom: 30px;

    .auth-input {
      margin-bottom: 8px;
      input {
        width: 422px;
      }
    }

    .auth-checkbox {
      max-width: 422px;
      display: flex;
      align-items: baseline;

      input {
        margin: 0;
      }

      label {
        font-size: 14px;
        line-height: 130%;
        margin-left: 10px;

        a {
          font-size: 14px;
          color: $blue-text-color;
          text-decoration-line: underline;
          line-height: 130%;

        }
      }
    }
  }

  .auth-button {
    margin-top: 40px;

    button.button {
      width: 422px;
      padding: 15px 20px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .auth-link {
    margin-top: 10px;
    font-size: 16px;
    color: #1E1A2B;;

    a {
      text-decoration: none;
      margin-left: 5px;
      color: $blue-text-color;
    }
  }
}
