
@font-face {
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-family: "Montserrat";
  font-weight: 600;
}

@font-face {
  src: url("../fonts/Montserrat-Medium.ttf");
  font-family: "Montserrat";
  font-weight: 500;
}



@font-face {
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat";
  font-weight: 400;
}


@font-face {
  src: url("../fonts/Lora-Regular.woff");
  font-family: "Lora";
  font-weight: 400;
}
